

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  border-color: rgb(0, 0, 0);
  border-width: 5em;
  margin: 15px;
}

button {
  border-color: rgb(91, 91, 91);
  font: bolder;
  padding: 10px;
  margin: 4px;
  font-size: 2em;
  border-radius: 1em;
}

.clearButton {
  margin-left: .83em;
}

button:hover{
  background-color: rgb(186, 236, 186);
}

.window {
  margin: 20px;
  width: 300px;
  background-color: #ffffff;
  height: 40px;
  color: black;
  border: 3px solid red;
}